@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your Tailwind CSS file (e.g., styles.css or global.css) */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

